<ion-menu side="end" menuId="custom" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Opciones</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item (click)="generateAndDownloadPDFAll()">
        <ion-icon name="download" slot="start"></ion-icon>
        <ion-label>Generar presupuesto</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
 <!-- Botón flotante para agregar presupuesto -->
 <ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button routerLink="/tabs/newbudget">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Presupuesto</ion-title>
    <ion-buttons slot="end"> <!-- Cambiado de "start" a "end" -->
      <ion-menu-button autoHide="false" menu="custom">
        <ion-icon name="menu"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding" id="main-content">

  <!-- Lista de presupuestos -->
  <ion-list>
    <ion-item *ngFor="let budgetItem of budgets$" (click)="selectBudget(budgetItem.id)">
      <ion-icon name="pricetag-outline" slot="start"></ion-icon>
      <ion-label>
        <h1>{{ budgetItem.name_product }}</h1>
        <p>
          <ion-icon name="cash-outline"></ion-icon>
          {{ budgetItem.product_value | currency: 'USD':'symbol' }}
        </p>
        <p>
          <ion-icon name="cube-outline"></ion-icon>
          Cantidad: {{ budgetItem.product_quantity}}
        </p>
        <p>
          <ion-icon name="bar-chart-outline"></ion-icon>
          Peso: {{ budgetItem.product_weight}} g
        </p>
      </ion-label>
      <ion-icon name="arrow-forward" slot="end"></ion-icon>
      <!-- <ion-button (click)="generateAndDownloadPDFOne(budgetItem)" style="--background: rgb(0, 41, 128);">
        <ion-icon name="download-outline" slot="start"></ion-icon></ion-button> -->
    </ion-item>
  </ion-list>

</ion-content>
