<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login" icon="arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-title>Budget App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding" style="display: flex; flex-direction: column; align-items: center; justify-content: center; height: 50vh;">

  <ion-title style="font-size: 1.5em; margin-bottom: 20px;">Registrarme</ion-title>

  <ion-list style="width: 100%;">
    <ion-item lines="none">
      <ion-icon name="mail" slot="start"></ion-icon>
      <ion-label position="floating">Correo electrónico</ion-label>
      <ion-input type="email" [(ngModel)]="user.email" required></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-icon name="lock-closed" slot="start"></ion-icon>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="user.password" required></ion-input>
    </ion-item>
  </ion-list>
  
  <div class="ion-padding" style="width: 100%; text-align: center;">

    <ion-button expand="full" (click)="register(user)">
      <ion-icon name="person-add" slot="start"></ion-icon>
      Registrarse
    </ion-button>
  </div>
</ion-content>
